*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-areas:
    "h h h h h"
    "n s1 s1 s1 s1"
    ". s2 s2 s2 s2"
    "f f f f f ";

    gap: 20px;
}
header{
    grid-area: h;
    background-color: rgb(28,80, 100);
    padding: 20px;
    text-align: center;
}

.n{
    grid-area: n;
    background-color: gray;
    padding: 20px;
    height: 200px;
    text-align: center;
}

.s1{
    grid-area: s1;
    background-color: goldenrod;
    padding: 20px;
    height: 500px;
    text-align: center;
}

.s2{
    grid-area: s2;
    background-color: cornflowerblue;
    padding: 20PX;
    height: 200px;
    text-align: center;
}

.f{
    grid-area: f;
    background-color: chocolate;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width:600px){
.container{
    grid-template-areas: 
    "h"
    "n"
    "s1"
    "s2"
    "f";
}

header{
    background-color: red;
}
}


